<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <title>{% block title %}
      Homework_06
    {% endblock %}</title>
</head>

<body class="bg-light text-dark">
  {% block navbar_base %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Homework_06</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% for label, name in [('Главная', 'index_view'), ('Users', 'users_view'), ('Posts', 'posts_view')] %}
          <li class="nav-item">
            <a class="nav-link" href="{{url_for(name)}}">{{label}}</a>
          </li>
          {% endfor %}
          <a class="nav-link" href="{{ url_for('user_create_form') }}">Create user</a>
          <a class="nav-link" href="{{ url_for('post_create_form') }}">Create post</a>
          <a class="nav-link" href="{{ url_for('get_records_users') }}">Load users from JSONPL</a>
          <a class="nav-link" href="{{ url_for('get_records_posts') }}">Load posts from JSONPL</a>
        </ul>
      </div>
    </div>
  </nav>
  {% endblock %}

  <div class="container">
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
     {% for category, message in messages %}
     <div class="mt-4 alert alert-{{  'primary' if category == 'message' else category  }}">{{ message }}</div>
     {% endfor %}
  {% endif %}
  {% endwith %}
</div>
  {% block body %}
  {% endblock %}
  
</body>

</html>