{% extends 'base.html' %}
{% block body %}

<div class="container mt-5">
<h3 class="display-6 mt-5">Форма создания поста</h3>
<form method="post" enctype="multipart/form-data">
    {{ form.csrf_token }} 
    {{ form.username.label (class="form-label") }} 
    {{ form.username (class="form-control") }}
    {{ form.title.label (class="form-label") }}
    {{ form.title (class="form-control") }}
    {{ form.body.label (class="form-label") }}
    {{ form.body (class="form-control") }}
    <div class="mt-5">
        <button id="button-create" class="'btn btn-primary" type="submit">Create</button>
    </div>
</form>
</div>
{% endblock %}